# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Archivos de Streamlit
.streamlit/secrets.toml
.streamlit/config.toml

# Archivos de entorno virtual
venv/
ENV/

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de datos
*.csv
*.xlsx
*.xls
*.db
*.sqlite3

# Archivos de logs
*.log
logs/

# Archivos temporales
*.tmp
*.temp 